<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7391830718641055~9707819387</string>
	<key>GADIsAdManagerApp</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansKR-Black.otf</string>
		<string>NotoSansKR-Bold.otf</string>
		<string>NotoSansKR-Medium.otf</string>
		<string>NotoSansKR-Regular.otf</string>
		<string>NotoSansKR-Light.otf</string>
		<string>NotoSansKR-Thin.otf</string>
	</array>
</dict>
</plist>
